/.gradle/
/.kotlin/
/build/
/app/build/
/app/.cxx/
/local.properties
/keystore.properties


*.iml
.idea/
.DS_Store

*.apk
*.aab
*.hprof
*.jks
*.keystore
*.p12
*.pfx
*.pem
*.key

.env
.env.*
google-services.json

visual-pass-*.png
commitPlan*.json
